@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form_outer {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  border-radius: 5px;
  background-color: #fff;
}

.form-fields {
  display: grid;
  grid-template-columns: 44% 54%;
  gap: 20px;
  width: 100%;
  align-items: center;
  position: relative;
}
.form-title {
  width: 100%;
  background-color: #7fd9ff;
  text-align: center;
  padding: 10px 0px;
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}
.form-fields label,
.form-fields span {
  font-weight: bold;
}
.form-fields select,
.form-fields input[type="text"],
.form-fields input[type="email"],
.form-fields option {
  width: 100%;
  padding: 5px;
  border: 1px solid #c9c4c4;
}
.form-bio-sec,
.form-personal-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.form-radio-button {
  display: flex;
  gap: 10px;
}
.submit-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.submit-btn button {
  width: 20%;
  padding: 10px 20px;
  margin-top: 50px;
  cursor: pointer;
}
.submit-btn button[type="submit"] {
  background-color: #2ecb70;
  color: #fff;
  outline: none;
  border: none;
  font-weight: bold;
  border-radius: 5px;
}
.cancel-btn {
  background-color: red;
  color: #fff;
  border: none;
  border-radius: 5px;
}
